/* customers section styling */
.customer-club {
    display: flex;
    width: 100%;
    height: auto;
    padding: 45px 30px;
    align-items: center;
    text-align: center;
    background-color: $sand-color;
    font-family: $font-family;
    
    h1 {
        text-transform: uppercase;
        font-size: $heading-size;
    }

    p {
        font-weight: bold;
        padding: 25px 0;
    }

    button {
        width: 100%;
        height: 60px;
        border: none;
        border-radius: 30px;
        box-shadow: 0px 3px 6px #00000029;
        font-weight: bold;
        font-size: $txt-size;
        color: $white-color;
        font-family: $font-family;
        background-color: $pink-color;
        cursor: pointer;
    }

    .customer-club-images {
        @include flex-center-vertical;
        width: 100%;
        justify-content: space-around;
        flex-wrap: wrap;

        img {
            margin: 10px 0;
        }
    }
}

/* code for media queries */
@media (max-width: $md-breakpoint) {
    .customer-club-images {
        display: none !important;
    }

    .customer-club {
        justify-content: center;
    }
}