/* IMPORT GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
/* IMPORT GOOGLE FONTS */

/* GLOBAL SCOPE */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    user-select: none;
}

$pink-color: #fa96aa;
$white-color: #ffffff;
$black-color: #000000;
$grey-color: #d9d9d9;
$sand-color: #f7f0f2;
$dark-grey: #707070;
$transparent-color: #000000E6 0% 0% no-repeat padding-box;
$font-family: 'Quicksand', sans-serif;
$txt-size: 18px;
$txt-size_2: 20px;
$heading-size: 54px;
$heading-size_2: 40px;
$large-font: 64px;
$xs-breakpoint: 380px;
$sm-breakpoint: 576px;
$md-breakpoint: 728px;
$lg-breakpoint: 1024px;
$xl-breakpoint: 1200px;
$xxl-breakpoint: 1400px;

body {
    overflow-x: hidden;
}
/* GLOBAL SCOPE */